#site {
  font-size: 60px;
  font-style: normal;
  color: rgb(249, 212, 4);
}

body {
  background-color: rgb(0, 0, 0);
  margin: 25px;
  color: rgb(220, 213, 213);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  margin-left: 40%;
}

h2 {
  margin-left: 40%;
  font-size: 30px;
}

.coin {
  font-size: 25px;
  color: rgb(218, 197, 75);
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 10%;
}


.details {
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  text-decoration: solid;
  margin-left: 10%;
  margin-right: 10%;
}

.identity {
  margin-left: 70%;
  margin-top: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navigation {
  list-style: none;
}

.Navigation li {
  display: inline-block;
  padding: 0px 18px;
}

button {
  padding: 5px 14px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 35px;
}

button {
  transition: all 0.4s ease 0s;
  font-style: italic;
}

button:hover {
  background-color: rgb(240, 217, 83);
}

#logo {
  margin-left: 5px;
  padding-left: 0;

}
.foot{
  margin-left: 40%;
  display: inline;
  margin-top: 15%;
}
footer{
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Courier New', Courier, monospace;
}
footer button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
footer button:hover{
  background-color: rgb(255, 231, 97);
}

.fname, .lname, .mail, .pass, .bdate, .Gender, .pnumber, .reg{
  display: block;
  margin: 30px;
  color: rgb(255, 231, 97);
  
}
.data{
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
#register{
  transition: all 0.4s ease 0s;
}
#register:hover{
  background-color: rgb(240, 217, 83);
}
#app{
  width: 400px;
}
